@{
    ViewData["Title"] = "Bem vindo";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive"/>
            <div class="carousel-caption" role="option">
                <p>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive"/>
            <div class="carousel-caption" role="option">
                <p>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive"/>
            <div class="carousel-caption" role="option">
                <p>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive"/>
            <div class="carousel-caption" role="option">
                <p>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Design</h2>
        <ul>
            <li>Arquitetura completa com preocupações de separação de responsabilidade, SOLID e Clean Code</li>
            <li>Conceitos de DDD - Camadas e Padrão de Modelo de Domínio</li>
            <li>CQRS - Command Query Responsibility Segregation</li>
            <li>Event Sourcing</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Tecnologias</h2>
        <ul>
            <li>.NET Core 2.0</li>
            <li>ASP.NET MVC Core 2.0</li>
            <li>ASP.NET WebAPI Core 2.0</li>
            <li>ASP.NET Identity Core 2.0</li>
            <li>EF Core 2.0</li>
            <li>AutoMapper</li>
            <li>FluentValidator</li>
            <li>MediatR</li>
            <li>Swagger UI</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>RoadMap for 2.0</h2>
        <ul>
            <li>Aplicativo de reserva com Padrão de Modelo de Domínio, CQRS e conceitos ES</li>
            <li>ASP.NET Identity trabalhando através serviços WebAPI</li>
            <li>Novo front-end</li>
            <li>Diferentes maneiras de ler e gravar dados.</li>
            <li>Testes Unitários</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Executar</h2>
        <ul>
            <li>
                <a href="http://xxx.azurewebsites.net" target="_blank">Veja Online</a>
            </li>
            <li>Executar em qualquer lugar</li>
            <li>Escale-o na nuvem</li>
        </ul>
    </div>
</div>